.container {
  composes: row from '../Calendar/Calendar.module.css';
  justify-content: space-between;
  padding: 40px 0;
  position: relative;
}

.button {
  cursor: pointer;
}

.buttonPrev {
  composes: button;
  margin: 0 0 0 20px;
}

.buttonNext {
  composes: button;
  margin: 0 20px 0 0;
}

.buttonIcon {
  font-size: 22px;
  color: #8C1566;
  transition: color .2s linear;
}

.buttonIcon:hover {
  color: #78145a;
}

.heading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 700;
  color: #4b4b4b;
}
