.form {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgb(211, 211, 211);
  padding: 5px 10px;
  height: 40px;
  transition: border-color .2s linear;
}

.input:hover {
  border-color: rgba(140, 21, 102, .5)
}

.input:focus {
  border-color: rgba(140, 21, 102, 1)
}

.inputTitle {
  composes: input;
  width: 70%;
  margin: 0 5% 0 0;
}

.inputTime {
  composes: input;
  width: 20%;
  margin: 0 0 0 5%;
}

.inputDescription {
  composes: input;
  resize: none;
  width: 100%;
  height: 80px;
  margin: 20px 0 0 0;
}

.submit {
  margin: 20px 0 0 0;
  padding: 12px 20px;
  background-color: #8C1566;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: background-color .2s linear;
  cursor: pointer;
}

.submit:hover, .submit:focus {
  background-color: #781655;
}
