.form {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 40px 0;
}

.inputTitle {
  width: 70%;
  margin: 0 5% 0 0;
}

.inputTime {
  width: 20%;
  margin: 0 0 0 5%;
}

.inputDescription {
  width: 100%;
  margin: 20px 0 0 0;
}

.submit {
  margin: 30px 0 0 0;
}
