.day {
  position: relative;
  display: flex;
  height: auto;
  justify-content: flex-end;
  border-left: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
  background-color: transparent;
  transition: background-color .2s linear;
  cursor: pointer;
}

.day:first-child {
  border-left: 0;
}

.day::before {
  content: '';
  float: left;
  padding-top: 75%;
}

.disabled .date,
.disabled .eventsQuantity,
.disabled.hasEvent::after {
  opacity: .5;
}

.selected .cloneDate {
  opacity: .05;
}

.day.selected,
.day.hasEvent {
  background-color: rgba(125, 21, 91, 0.05);
}

.day:hover {
  background-color: rgba(125, 21, 91, 0.05);
}

.hasEvent::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 100%;
  background-image: linear-gradient(to bottom, #7D155B, #8C1566);
}

.date {
  font-size: 20px;
  margin: 10px 10px 0 0;
  font-weight: 700;
  color: #4b4b4b;
}

.cloneDate {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  line-height: 1.25;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 700;
  color: #7D155B;
  opacity: 0;
  transition: opacity .2s ease-in;
}

.eventsQuantity {
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  bottom: 0;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 5px 20px;
  color: #4b4b4b;
}
