.day {
  composes: col from '../Calendar/Calendar.module.css';
  position: relative;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(148, 148, 148);
  border-bottom: 1px solid rgb(148, 148, 148);
}

.day::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.disabled {
  color: rgba(0, 0, 0, .5);
}

.selected {
  color: red;
}

.hasEvent::after {
  content: '';
  position: absolute;
  top: -13px;
  right: -3px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid green;
  transform: rotate(-45deg);
}

.dayDate {
  font-size: 20px;
}
