.form {
  margin: 0;
}

.inputTitle {
  width: 100%;
}

.inputTime {
  width: 100%;
  margin: 20px 0 0 0;
}

.inputDescription {
  width: 100%;
  margin: 20px 0 0 0;
}

.controls {
  margin: 30px 0 0 0;
}

.done {
}

.cancel {
  margin: 0 0 0 20px;
}
